DJANGO_SETTINGS_MODULE=config.settings.production
DEBUG=False
SECRET_KEY=generate-a-strong-secret-key

DB_NAME=4work_db
DB_USER=4work_user
DB_PASSWORD=use-a-strong-random-password
DB_HOST=db
DB_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379

ALLOWED_HOSTS=dscc-shahbozms.polandcentral.cloudapp.azure.com,20.215.56.24

SITE_NAME=4work
SITE_URL=https://dscc-shahbozms.polandcentral.cloudapp.azure.com

CORS_ALLOWED_ORIGINS=https://dscc-shahbozms.polandcentral.cloudapp.azure.com,http://20.215.56.24
CSRF_TRUSTED_ORIGINS=https://dscc-shahbozms.polandcentral.cloudapp.azure.com,http://20.215.56.24

DOCKERHUB_USERNAME=your-dockerhub-username
